---
layout: default
title: Home
---

<header class="jumbotron subhead" id="overview">
  <h1>Hello World!!</h1>
  <p class="lead">Code Code Code Code</p>
</header>

<hr >

{% for post in site.posts %}
<section>
    <!-- 显示文章标题 -->
    <div>
        <h3><a href="{{ post.url }}">{{ post.title }}</a> <small>{{ post.date | date:"%Y-%m-%d" }}</small></h3>
	</div>
	
	<!-- 显示文章描述 -->
	<p>{{ post.description }}</p>
	
	<!-- 显示文章Tag -->
	{% if post.tag %}
		<p>Tag:
		{% for tag in post.tag %}
		   <a href="#">{{tag}}</a> 
		{% endfor %}
		</p>
	{% endif %}
</section>
{% endfor %}
